.form_content{
    width:100%;
    height: calc(100vh - 80px);
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;       /* Stack items vertically */
    align-items: flex-start;
    
}


.form_content_widgets{
    
        width: 400px;
        max-height: calc(100vh - 200px);
        /* background-color: #f3f4f6; */
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start; /* ensures clean vertical layout */
        align-self: center;
        flex-shrink: 0;
        overflow-y: auto;
      

}


.form_widget2{
    
    width: 400px;
    /* max-height: calc(100vh - 200px);; */
    overflow-y:scroll;
    padding-bottom: 20px;
    display: flex;
      flex-direction: column;       /* Stack items vertically */
      align-items: center;
      padding-top: 30px;
    
    
}

.forms_span{
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid;
  border-color: #858181f4;
  padding-bottom: 1px;
  border-radius: 1px;
  display: inline-block;
  margin-bottom: 0px;
  color: #333 
}

.forms_typo{
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #333  
 
}

/* .form_scroll-always-visible::-webkit-scrollbar {
  width: 8px;
}

.form_scroll-always-visible::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.form_scroll-always-visible::-webkit-scrollbar-track {
  background: #f1f1f1;
} */